.slide {
    animation: slideIn 1s ease-in-out forwards;
}
h1 {
    transform: translateX(-100%);
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

#score-keeper{
    font-size: 2em;
    font-weight: bold;
}

#high-score{
    font-size: 2em;
    font-weight: bold;
}